.book {
	display: grid;
	grid-template-rows: auto;
	/*grid-template-columns: min-content auto;*/
	grid-template-columns: 20em auto;

	
	width: 100%;
	height: 100%;

	background-color: var(--backgroundBase);

	& > .navigation {
		grid-area: 1 / 1 / 1 / 2;
		padding: 1em;

		z-index: 100;
		box-shadow: 1px 0px 8px 0px var(--shadowLight);
	}

	& > .content {
		grid-area: 1 / 2 / 1 / 3;
		padding: 1em;
	}

}