.modal-layer {
	position: absolute;
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--backgroundOpaq);
	z-index: 100;

	cursor: pointer;

	pointer-events: all;
	&:empty {
		background: none;
		pointer-events: none;
	}
}

