.container {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--contentBase);

	background: linear-gradient(
		0deg,
		var(--viewportLower) 0%,
		var(--viewportUpper) 100%
	);

	position: relative;
	width: 100%;
	height: 100%;

	& > .viewport {
		display: block;
		width: 100%;
		height: 100%;
	}
}